# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.LaunchPad.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\LaunchPad\.idea\.idea.LaunchPad.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
